*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;

    width: 100%;
    min-height: 100vh;

    top: 0;
    background-image: url(imagens/bg-sobre.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;    

    background-position: center center;
    
}


/* configs da nav*/
.centralizar-nav {
    display: flex;
    justify-content: center; /* Mudamos para center para controlar os eixos */
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 17px 0; /* Padding vertical apenas */
    background-color: black;
    top: 0;
}

.centralizar-nav::before, .centralizar-nav::after {
    content: none;
}


.logo {
    width: 75px;
    height: 75px;
    position: absolute; /* Remove do fluxo para não empurrar o menu */
    left: 5%;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0 auto; /* Força o menu para o centro matemático */
}

.nav-opcoes{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    font-weight: 450;
    position: relative;
    padding: 0.5rem;
    font-size: 1.2rem;

    transition: all ease-in-out 0.2s;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #ff5100, #e6b000, #ff5100);

    transition: all ease-in-out 0.2s;
}

.nav-link:hover::before{
    width: 100%;
}

.btn-matricula {
    position: absolute; /* Remove do fluxo para não empurrar o menu */
    right: 5%;
    width: auto; /* Deixe o padding definir a largura para não quebrar */
    min-width: 150px;
    padding: 13px 20px;
    background-color: rgb(255, 81, 0);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    transition: all ease-in-out 0.2s;
}

.btn-matricula:hover{
    transform:scale(1.1);

    -webkit-box-shadow: 0px 0px 10px 0px rgb(253, 38, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(253, 38, 0);
    box-shadow: 0px 0px 10px 0px rgb(253, 38, 0);

    color: rgb(255, 255, 255);

    cursor: pointer;
}


/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
}

.titulos-iniciais-contato {
    text-align: center;
    margin-bottom: 50px;
}

.subtitulo-contato-maior {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-weight: 600;
}

.titulo-contato {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.subtitulo-contato {
    color: #ccc;
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}

.card-infos {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin: 40px 0 60px 0;
    align-items: flex-start; /* Alinha o bloco de ícones levemente à esquerda do centro visual */
}

.info-item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.info-item img {
    width: 40px;
    height: 40px;
}

.info-texto {
    text-align: left;
}

.info-texto h3 {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

.info-texto p {
    color: #ccc;
    font-size: 1.1rem;
}

.btn-contato {
    display: inline-block;
    background-color: #ff5100;
    color: #fff;
    text-decoration: none;
    padding: 18px 50px;
    font-weight: 800;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: 0.3s;
    text-transform: uppercase;
}

.btn-contato:hover {
    transform: scale(1.05);
    background-color: #e24800;
    box-shadow: 0px 0px 20px rgba(255, 81, 0, 0.4);
}