*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;

    width: 100%;
    min-height: 100vh;

    top: 0;
    background-image: url(imagens/bg-sobre.png); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;    

    background-position: center center;
    
}


/* configs da nav*/
.centralizar-nav {
    display: flex;
    justify-content: center; /* Mudamos para center para controlar os eixos */
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 17px 0; /* Padding vertical apenas */
    background-color: black;
    top: 0;
}

.centralizar-nav::before, .centralizar-nav::after {
    content: none;
}


.logo {
    width: 75px;
    height: 75px;
    position: absolute; /* Remove do fluxo para não empurrar o menu */
    left: 5%;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0 auto; /* Força o menu para o centro matemático */
}

.nav-opcoes{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    font-weight: 450;
    position: relative;
    padding: 0.5rem;
    font-size: 1.2rem;

    transition: all ease-in-out 0.2s;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #ff5100, #e6b000, #ff5100);

    transition: all ease-in-out 0.2s;
}

.nav-link:hover::before{
    width: 100%;
}

.btn-matricula {
    position: absolute; /* Remove do fluxo para não empurrar o menu */
    right: 5%;
    width: auto; /* Deixe o padding definir a largura para não quebrar */
    min-width: 150px;
    padding: 13px 20px;
    background-color: rgb(255, 81, 0);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    transition: all ease-in-out 0.2s;
}

.btn-matricula:hover{
    transform:scale(1.1);

    -webkit-box-shadow: 0px 0px 10px 0px rgb(253, 38, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(253, 38, 0);
    box-shadow: 0px 0px 10px 0px rgb(253, 38, 0);

    color: rgb(255, 255, 255);

    cursor: pointer;
}


/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
}

.titulos-iniciais-sobre {
    margin-bottom: 25px;
}

.titulo-sobre {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.subtitulo-sobre {
    color: #ccc;
    font-size: 1.2rem;
    margin-bottom: 13px;
    color:#e63e00;
}

.card-topicos {
    background-color: rgba(39, 39, 39, 0.158);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    max-width: 700px;
    width: 90%;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}

.topicos {
    color: #fff;
    text-align: left;
    margin: 20px 0;
    font-size: 1.1rem;
    width: 100%;

    text-align: center;
}

.btn-saiba{
    width: 13vw;
    height: 7vh;
    padding: 13px;

    background-color: rgb(255, 81, 0);
    border: 1px solid black;

    border-radius: 7px;

    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;

    margin-top: 20px;

    transition: all ease-in-out 0.3s;

    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    color: black;

}

.btn-saiba:hover{

    transform: scale(1.05);
    background-color: #e24800;
    box-shadow: 0px 0px 20px rgba(255, 81, 0, 0.4);

}